html {
  box-sizing: border-box;
  margin: 0;

  padding: 0;
}

body {
  height: 100vh;
  background-color: #024059;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
